/* Стилі для body для іншого фону */
body {
    background-color: #F0E68C; /* Світло-жовтий (Khaki) фон */
}

/* Стилі для заголовка h1 */
h1 {
    text-decoration: underline; /* Підкреслення тексту */
    color: #4B0082; /* Темно-фіолетовий колір для заголовка */
}

/* Завдання 2.1: Стилі для горизонтальних ліній hr */
hr {
    border: 4px dashed #FF4500; /* Помаранчева пунктирна лінія */
    height: 3px; /* Висота лінії */
    width: 80%; /* Ширина лінії */
    margin: 25px auto; /* Вирівнювання по центру */
}

/* External стиль для div */
div {
    background-color: #2C3E50; /* Темно-синій фон */
    color: #ECF0F1; /* Світло-сірий текст */
    height: 120px; /* Висота */
    width: 250px; /* Ширина */
    padding: 15px; /* Внутрішні відступи */
    text-align: center; /* Вирівнювання тексту по центру */
}

/* Стилі для навігаційного меню */
nav ul {
    list-style-type: none; /* Прибрати маркери списку */
    padding: 0;
}

    nav ul li {
        display: inline-block; /* Вирівнювання списку в рядок */
        margin-right: 20px;
    }

        nav ul li a {
            text-decoration: none;
            color: #2980B9; /* Синій колір посилань */
            font-weight: bold; /* Жирний текст */
        }

            nav ul li a:hover {
                color: #E74C3C; /* Червоний при наведенні */
                text-decoration: underline; /* Підкреслення при наведенні */
            }

/* Стилі для зображення */
img {
    border: 6px solid #2980B9; /* Синя рамка */
    border-radius: 15px; /* Зробити кути округлими */
    display: block;
    margin: 30px auto;
}

/* Стилі для footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #2980B9; /* Синій фон */
    color: #FFFFFF; /* Білий текст */
}

/* Оформлення для трьох точок */
.three-dots {
    text-align: center; /* Центрувати точки */
}

    .three-dots::after {
        content: '• • •'; /* Три точки */
        font-size: 26px; /* Розмір точок */
        color: #FF6F61; /* Помаранчевий колір точок */
        display: block; /* Відображати на новому рядку */
        margin-top: 20px; /* Відступ зверху */
    }
